Repository nbayonne76-ui/SAV-BOT-Meuble-de-france: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/migrations/**"
  - "**/.env*"

Fix CRITICAL ticket persistence bug & implement validation buttons
  backend/app/api/endpoints/chat.py
  backend/app/services/chatbot.py
Due: backend

FIX: Boutons validation au RÉCAPITULATIF + Détection erreurs persistence
  backend/app/services/chatbot.py
  backend/app/services/sav_workflow_engine.py
Due: backend

FIX: Increase warranty_status column from VARCHAR(50) to VARCHAR(200)
  backend/app/models/ticket.py
  fix_warranty_status_column.sql
  migrate_warranty_status.py
Due: backend

Fix migration script (remove emoji, use text())
  migrate_warranty_status.py
Due: none

Fix CORS error: Always include Railway frontend URL
  backend/app/main.py
Due: backend

Fix DATABASE_URL whitespace handling
  backend/app/core/config.py
Due: backend

Alternative database URL construction from PG* variables
  backend/app/core/config.py
Due: backend

Fix three critical SAV system issues
  backend/app/core/config.py
  backend/app/services/chatbot.py
  backend/app/services/sav_workflow_engine.py
  check_railway_tables.py
  delete_bad_ticket.py
  delete_ticket_123.py
  diagnose_db_url.py
  list_all_tickets.py
  migrate_railway_db.py
  migrate_railway_direct.py
Due: backend

small Changes
  backend/app/api/endpoints/sav.py
  backend/app/main.py
  docker-compose.yml
  frontend/src/main.jsx
Due: backend, frontend

ticket fix
  backend/app/services/sav_workflow_engine.py
  backend/tests/test_validate_fallback.py
  frontend/src/components/ChatInterface.jsx
Due: backend, frontend

Test Ticket
  TICKET_CREATION_FLOW.md
  backend/app/api/endpoints/chat.py
  backend/app/services/chatbot.py
  backend/tests/test_ticket_creation_integration.py
  frontend/src/components/ChatInterface.jsx
Due: backend, frontend

..
  backend/app/core/config.py
  backend/app/main.py
Due: backend

....
  backend/app/main.py
  backend/app/services/chatbot.py
Due: backend

......
  backend/app/services/client_summary_generator.py
  backend/app/services/sav_workflow_engine.py
Due: backend

Fix Python 3.13 syntax error: Remove emojis from line starts in multiline strings
  backend/app/services/chatbot.py
Due: backend

Fix
  backend/app/services/chatbot.py
Due: backend

Implement voice emotion-based priority system
  VOICE_EMOTION_PRIORITY_SYSTEM.md
  backend/app/api/endpoints/voice.py
  backend/app/models/ticket.py
  backend/app/services/voice_emotion_detector.py
  backend/migrate_add_voice_emotion.py
Due: backend

Add Railway deployment templates and quickstart checklist
  RAILWAY_DEPLOYMENT_TEMPLATE.md
  RAILWAY_QUICKSTART_CHECKLIST.md
Due: none

Add detailed Railway deployment guide and voice emotion test files
  RAILWAY_DETAILED_DEPLOYMENT_GUIDE.md
  backend/migrate_railway_emotion.py
  backend/test_emotion_detection.py
  backend/test_voice_workflow.py
Due: backend

Redesign chat interface to match Mobilier de France branding
  frontend/src/components/ChatInterface.jsx
Due: frontend

Update chat interface to match reference design
  frontend/src/components/ChatInterface.jsx
Due: frontend

Add off-topic rejection to chatbot prompts + UI improvements
  backend/app/services/chatbot.py
Due: backend

Update MF logo to SVG stylized version
  frontend/src/components/ChatInterface.jsx
Due: frontend

Center SUIVI CLIENTELE exactly in the middle of the page
  frontend/src/components/ChatInterface.jsx
Due: frontend

Position SUIVI CLIENTELE at 25% (center of left half) to avoid chat overlap
  frontend/src/components/ChatInterface.jsx
Due: frontend

Fix layout: SUIVI CLIENTELE centered, chat 40% width pushed to right
  frontend/src/components/ChatInterface.jsx
Due: frontend

Update welcome messages: order number first with priority marker
  frontend/src/i18n/translations.js
Due: frontend

Style user messages with white background and black text for distinction
  frontend/src/components/ChatInterface.jsx
Due: frontend

Add camera icon next to mic for photo upload
  frontend/src/components/ChatInterface.jsx
Due: frontend

Move camera icon to right side of input field
  frontend/src/components/ChatInterface.jsx
Due: frontend

Added Logo
  frontend/src/assets/MF.png
  frontend/src/components/ChatInterface.jsx
Due: frontend

Modified CORS
  backend/app/core/config.py
Due: backend

CORS Midifications
  API_REFERENCE_COMPLETE.md
  backend/app/core/config.py
  backend/app/core/config_backup.py
  backend/app/core/config_fixed.py
Due: backend

...
  backend/app/core/config.py
Due: backend

Config
  backend/app/core/config.py
Due: backend
