Repository nbayonne76-ui/SAV-BOT-Meuble-de-france: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.jsx"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/__pycache__/**"
  - "**/*.pyc"
  - "**/migrations/**"
  - "**/.env*"

Update README — bump version and date
  README.md
Due: none

Update README and improve .gitignore
  .gitignore
Due: none

Add Railway configuration files
  Procfile
  nixpacks.toml
  railway.json
Due: none

Add frontend Railway deployment configuration
  frontend/.env.example
  frontend/Procfile
  frontend/nixpacks.toml
  frontend/package.json
  frontend/railway.json
Due: frontend

Remove conflicting Railway frontend config files
  frontend/nixpacks.toml
  frontend/railway.json
Due: frontend

Fix frontend serve port configuration
  frontend/package.json
Due: frontend

Replace serve with Express server for proper PORT handling
  frontend/package.json
  frontend/server.js
Due: frontend

Update package-lock.json with Express dependency
  frontend/package-lock.json
Due: frontend

Remove Procfile to use package.json start script
  frontend/Procfile
  frontend/node_modules/.package-lock.json
Due: frontend

Fix dist folder persistence issue - build in start script
  frontend/package.json
Due: frontend

Add Cloudinary for cloud storage
  backend/package-lock.json
  backend/package.json
Due: backend

Add Cloudinary to requirements.txt
  backend/requirements.txt
Due: backend

Implement Cloudinary cloud storage for file uploads
  backend/app/api/endpoints/upload.py
  backend/app/core/config.py
  backend/app/services/cloudinary_storage.py
Due: backend

Fix 307 redirect issue for file uploads
  backend/app/api/endpoints/upload.py
Due: backend

Add direct route for /api/upload to fix 307 redirect
  backend/app/main.py
Due: backend

Move upload route BEFORE router include - critical fix for 307
  backend/app/main.py
Due: backend

Remove upload router include to eliminate 307 redirect completely
  backend/app/main.py
Due: backend

Fix 307 redirect on upload endpoint by disabling redirect_slashes
  backend/app/main.py
Due: backend

Re-enable upload router now that redirect_slashes=False is set
  backend/app/main.py
Due: backend

Add redirect_slashes=False to upload router
  backend/app/api/endpoints/upload.py
Due: backend

Fix upload URL to use trailing slash
  frontend/src/components/ChatInterface.jsx
Due: frontend

Add voice chat feature and fix warranty model bug
  .gitignore
  backend/app/api/endpoints/chat.py
  backend/app/api/endpoints/realtime.py
  backend/app/api/endpoints/realtime_ws.py
  backend/app/api/endpoints/voice.py
  backend/app/core/chatbot_config.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/warranty.py
  backend/app/services/chatbot.py
  backend/logs/app.log
  frontend/index.html
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/src/App.jsx
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/VoiceChatWhisper.jsx
  frontend/src/config/branding.js
  frontend/src/index.css
Due: backend, frontend

Add database models and repository layer for ticket persistence
  backend/app/__pycache__/__init__.cpython-313.pyc
  backend/app/__pycache__/main.cpython-313.pyc
  backend/app/api/__pycache__/__init__.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/__init__.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/chat.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/faq.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/products.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/sav.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/tickets.cpython-313.pyc
  backend/app/api/endpoints/__pycache__/upload.cpython-313.pyc
  backend/app/api/endpoints/sav.py
  backend/app/core/__pycache__/__init__.cpython-313.pyc
  backend/app/core/__pycache__/config.cpython-313.pyc
  backend/app/core/__pycache__/logging.cpython-313.pyc
  backend/app/db/session.py
  backend/app/models/__pycache__/warranty.cpython-313.pyc
  backend/app/models/ticket.py
  backend/app/repositories/__init__.py
  backend/app/repositories/ticket_repository.py
  backend/app/services/__pycache__/__init__.cpython-313.pyc
  backend/app/services/__pycache__/chatbot.cpython-313.pyc
  backend/app/services/__pycache__/client_summary_generator.cpython-313.pyc
  backend/app/services/__pycache__/evidence_collector.cpython-313.pyc
  backend/app/services/__pycache__/priority_scorer.cpython-313.pyc
  backend/app/services/__pycache__/problem_detector.cpython-313.pyc
  backend/app/services/__pycache__/product_catalog.cpython-313.pyc
  backend/app/services/__pycache__/sav_knowledge.cpython-313.pyc
  backend/app/services/__pycache__/sav_workflow_engine.cpython-313.pyc
  backend/app/services/__pycache__/tone_analyzer.cpython-313.pyc
  backend/app/services/__pycache__/warranty_service.cpython-313.pyc
  test_ticket_creation.py
Due: backend

Add user validation buttons for ticket confirmation before creation
  backend/app/api/endpoints/chat.py
  backend/app/services/chatbot.py
  backend/app/services/sav_workflow_engine.py
  frontend/src/components/ChatInterface.jsx
Due: backend, frontend

Add websockets dependency to fix Railway deployment error
  backend/requirements.txt
Due: backend

Configure automatic database migrations on Railway deployment
  backend/init_db.py
  railway.json
Due: backend

Fix PostgreSQL URL compatibility for Railway deployment
  backend/alembic/versions/20260104_150230_add_ticket_model_for_sav_workflow.py
  backend/app/core/config.py
Due: backend

Add better error handling for DATABASE_URL
  backend/app/core/config.py
Due: backend

Fix Cloudinary upload failures by initializing service at startup
  backend/app/main.py
  backend/app/services/cloudinary_storage.py
Due: backend

..
  frontend/node_modules/.vite/deps/chunk-2YIMICFJ.js
  frontend/node_modules/.vite/deps/chunk-2YIMICFJ.js.map
  frontend/node_modules/.vite/deps/chunk-BCXODTBQ.js
  frontend/node_modules/.vite/deps/chunk-BCXODTBQ.js.map
  frontend/node_modules/.vite/deps/lucide-react.js
  frontend/node_modules/.vite/deps/lucide-react.js.map
  frontend/node_modules/.vite/deps/react-dom.js
  frontend/node_modules/.vite/deps/react-dom_client.js
  frontend/node_modules/.vite/deps/react-dom_client.js.map
  frontend/node_modules/.vite/deps/react.js
  frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js
  frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
  frontend/node_modules/.vite/deps/react_jsx-runtime.js
  frontend/node_modules/.vite/deps/react_jsx-runtime.js.map
Due: none

..
  backend/app/api/endpoints/upload.py
Due: backend

Add Cloudinary cloud storage integration for image uploads
  backend/app/api/endpoints/upload.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/cloudinary_storage.py
  backend/requirements.txt
Due: backend

Ignore log files
  .gitignore
Due: none

tst
  backend/app/services/warranty_service.py
Due: backend

Remove app.log from git tracking
  backend/logs/app.log
Due: backend

Add logging for Cloudinary URL and CORS origins debugging
  backend/app/main.py
  backend/app/services/cloudinary_storage.py
Due: backend

..
  backend/app/services/warranty_service.py
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/node_modules/.vite/deps/chunk-IR323MWG.js
  frontend/node_modules/.vite/deps/chunk-IR323MWG.js.map
  frontend/node_modules/.vite/deps/chunk-MEA6YV6E.js
  frontend/node_modules/.vite/deps/chunk-MEA6YV6E.js.map
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/VoiceChatWhisper.jsx
Due: backend, frontend

..
  backend/app/core/config.py
Due: backend

Dev
  .env.example
  README.md
  backend/.gitignore
  backend/Flow.txt
  backend/app/.gitignore
  backend/app/api/endpoints/chat.py
  backend/app/api/endpoints/realtime.py
  backend/app/api/endpoints/realtime_ws.py
  backend/app/api/endpoints/upload.py
  backend/app/core/config.py
  backend/app/core/redis.py
  backend/app/models/user.py
  backend/app/services/chatbot.py
  backend/chatbot.db
  docker-compose.yml
  frontend/.gitignore
  frontend/src/App.jsx
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/NavTab.jsx
  frontend/src/components/TicketRow.tsx
  frontend/src/components/VoiceChatWhisper.jsx
  frontend/src/config/branding.js
  frontend/src/context/LanguageContext.jsx
  frontend/src/hooks/useAudioRecording.js
  frontend/src/hooks/useSpeechRecognition.js
  frontend/src/hooks/useSpeechSynthesis.js
  frontend/src/i18n/translations.js
  frontend/src/main.jsx
  frontend/src/utils/format.js
  frontend/src/utils/url.js
  scripts/check_postgres.py
  scripts/migrate_with_docker.bat
Due: backend, frontend

Fix critical URL corruption bug in getAbsoluteUrl function
  frontend/src/utils/url.js
Due: frontend
