Repository nbayonne76-ui/SAV-BOT-Meuble-de-france: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix critical memory leak in chatbot session management
  backend/app/api/endpoints/chat.py
Due: backend

Implement JWT token blacklist/revocation on logout
  backend/app/api/deps.py
  backend/app/api/endpoints/auth.py
  backend/app/core/security.py
Due: backend

Fix insecure configuration defaults for production security
  backend/app/core/config.py
Due: backend

Add rate limiting to all authentication endpoints
  backend/app/api/endpoints/auth.py
Due: backend

Add OpenAI API key format validation on startup
  backend/app/core/config.py
Due: backend

Add comprehensive input sanitization for SAV workflow engine
  backend/app/core/input_sanitizer.py
  backend/app/services/sav_workflow_engine.py
Due: backend

Add HTTPS enforcement for production deployments
  .env.example
  backend/app/core/config.py
  backend/app/core/middleware.py
Due: backend

Add comprehensive sensitive data filtering for logs
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/tests/test_sensitive_logging.py
Due: backend

Add rate limiting and security controls for file uploads
  .env.example
  backend/app/api/endpoints/upload.py
  backend/app/core/rate_limit.py
Due: backend

Fix HIGH priority issue #7: Convert synchronous database queries to async
  backend/app/api/deps.py
  backend/app/api/endpoints/auth.py
  backend/app/api/endpoints/chat.py
  backend/app/api/endpoints/sav.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/repositories/ticket_repository.py
  backend/requirements.txt
Due: backend

Fix HIGH priority issue #9: Add comprehensive database indexes
  .claude/settings.local.json
  backend/app/models/ticket.py
  backend/app/models/user.py
Due: backend

Fix HIGH priority issue #10: Implement caching for frequently accessed data
  backend/app/core/cache_decorators.py
Due: backend

Fix HIGH priority issue #11: Add circuit breaker for external API calls
  backend/app/api/endpoints/voice.py
  backend/app/core/circuit_breaker.py
  backend/app/main.py
  backend/app/services/chatbot.py
  backend/app/services/cloudinary_storage.py
Due: backend

Fix HIGH priority issue #12: Enhance health checks for all dependencies
  backend/app/main.py
  backend/requirements.txt
Due: backend

Fix HIGH priority issue #13: Implement graceful shutdown handling
  backend/app/main.py
Due: backend

Fix MEDIUM priority issue #1: Add request size limits and timeout to prevent DoS
  backend/app/core/config.py
  backend/app/core/request_limits.py
  backend/app/main.py
Due: backend

Fix MEDIUM priority issue #2: Enable response compression for bandwidth optimization
  backend/app/main.py
Due: backend

front-end fixes
  backend/app/api/endpoints/chat.py
  backend/app/services/chatbot.py
  frontend/src/App.jsx
  frontend/src/components/ChatInterface.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/LanguageSelector.jsx
  frontend/src/components/NavTab.jsx
  frontend/src/components/TicketRow.tsx
  frontend/src/components/VoiceChatWhisper.jsx
  frontend/src/i18n/translations.js
Due: backend, frontend

Update .gitignore
  frontend/.gitignore
Due: frontend

Fix MEDIUM priority issue #3: Add slow query logging for performance monitoring
  backend/app/core/config.py
  backend/app/core/slow_query_logger.py
  backend/app/db/session.py
  backend/app/main.py
Due: backend

Fix MEDIUM priority issue #4: Add memory usage alerting thresholds
  backend/app/core/config.py
  backend/app/core/memory_monitor.py
  backend/app/main.py
Due: backend

Fix LOW priority issue #1: Add environment variable validation at startup
  backend/app/core/env_validator.py
  backend/app/main.py
Due: backend

Fix LOW priority issue #2: Add security headers for static files
  backend/app/core/secure_static_files.py
  backend/app/main.py
Due: backend

Fix LOW priority issue #3: Enhance API documentation
  backend/API_DOCUMENTATION.md
  backend/app/main.py
Due: backend

Fix import error: Update db/__init__.py to use AsyncSessionLocal
  backend/app/db/__init__.py
Due: backend

..
  frontend/src/components/Dashboard.jsx
Due: frontend

Fix CRITICAL bug: Tickets were never saved to database (missing await on async calls)
  backend/app/api/endpoints/chat.py
  backend/app/services/sav_workflow_engine.py
Due: backend

Fix Unicode encoding error and add Dashboard debugging logs
  backend/app/core/config.py
  frontend/src/components/Dashboard.jsx
Due: backend, frontend

Add Dashboard debugging logs and database test script
  frontend/src/components/Dashboard.jsx
  test_api.py
Due: frontend

Fix Dashboard rendering for tickets with null priority/status
  frontend/src/components/Dashboard.jsx
  frontend/src/components/TicketRow.tsx
  frontend/src/utils/format.js
Due: frontend

Add detailed JSON logging for ticket rendering debug
  frontend/src/components/Dashboard.jsx
Due: frontend

Ensure ALL required TicketRow fields have defaults
  frontend/src/components/Dashboard.jsx
Due: frontend

Add logging inside TicketRow to debug rendering
  frontend/src/components/TicketRow.tsx
Due: frontend

CRITICAL FIX: Force black text color in Dashboard to override body white text
  frontend/src/components/Dashboard.jsx
Due: frontend

Fix CORS: Remove trailing slash from frontend Railway URL
  backend/app/core/config.py
Due: backend

front-end adjustments
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/NavTab.jsx
  frontend/src/components/TicketRow.tsx
  frontend/src/context/LanguageContext.jsx
  frontend/src/main.jsx
  frontend/src/utils/format.js
Due: frontend

..
  frontend/src/components/TicketRow.tsx
Due: frontend

CRITICAL FIX: Force ticket persistence after user validation
  backend/app/services/chatbot.py
Due: backend

Fix validation summary: Show order number and use exact client terms
  backend/app/services/chatbot.py
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/__tests__/**, **/test/**, **/tests/**, **/*.test.js, **/*.test.jsx, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.jsx, **/node_modules/**, **/dist/**, **/build/**, **/__pycache__/**, **/*.pyc, **/migrations/**, **/.env*
  frontend: any of: frontend/, but not: **/__tests__/**, **/test/**, **/tests/**, **/*.test.js, **/*.test.jsx, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.jsx, **/node_modules/**, **/dist/**, **/build/**, **/__pycache__/**, **/*.pyc, **/migrations/**, **/.env*
